.logo {
    width: 85px;
    height: 85px;
}
body {
 background-image: url(../assets/images/b2.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

 
}
.main {
    background-color: rgba(0, 102, 255, 0.338);

}
.borde {
    box-shadow: rgba(0, 0, 0, 0.6) 2px 2px;
}
.navbar {
    background-color: #D7182A;
}
.navbar-brand {
    padding-left: 20px;
}

.navbar-nav .nav-link {
    color: #FFE019;
}
.yellowFCB {
    color: #FFE019;

}
.redFCB {
    color: #D7182A;
}
.card {
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.fixed-image-height {
    height: 200px;
}
.card:hover {
    transform: scale(1.1);
}
.card img {
    object-fit: cover;
    height: 200px;
}
.card-body {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}
.navbar-nav .nav-link:hover {
    color: #FFFFFF;
}
.link__footer {
    color: #FFE019;
}
.social {
    width: 300px;
}
.player {
    width: 180px;
    height: 180px;
    margin-top: 5px;
    margin-bottom: 8px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.493);
    transition: 0.4s all ease;
    cursor: pointer;
}
.player:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2%;
}
/* Estilo personalizado para quitar el borde de la tabla */
.table-details {
    border: none;
}

/* Estilo personalizado para quitar el borde de las celdas de la tabla */
.table-details td,
.table-details th {
    border: none;
}
tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin: 0px 2rem;
}
.img__clasi {
    width: 700px;
    height: 330px;
    transition: all 0.2s ease;

}
.img__clasi:hover {
  box-shadow: rgb(255, 0, 0) 3px 3px 3px;
   
   padding: 0px;
}
.img__clasi2 {
    width: 700px;
    height: 330px;
    transition: all 0.2s ease;

}
.img__clasi2:hover {
  box-shadow: rgb(0, 157, 255) 3px 3px 3px;
   
   padding: 0px;
}