body {
  background-color: #000000;
  text-shadow: black 1px 1px;
}
.container { 
  min-width: 477px;
  max-width: 1200px;
  height: 750px;
  padding: 2rem;
  
}
#background__video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -2;
}
.container__form {
  background-color: rgba(0, 0, 0, 0.4);
}
.form-label {
  color: #707070;
}
.btn-primary {
  background-color: #1D9BF0;
  border-color: #1D9BF0;
}
.btn-primary:hover {
  background-color: #1D9BF0;
  border-color: #1D9BF0;
}